@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "work sans";
    font-style: normal;
}

/* color-size_weight */
h1 {
    font-size: 40px;
    font-weight: 300;
    color: #333;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    color: #333;
}

p {
    font-size: 15px;
    color: #777;
}

a {
    font-size: 15px;
    color: #777;
}

hr {
    color: #333 ;
}

/* Header */
header {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header img {
    width: 36px;
    margin: 20px 0;
}

header ul {
    padding: 0; 
    list-style: none; 
    display: flex;
    gap: 50px; 
}

header nav a {
    font-size: 16px;
    text-decoration: none;
    color: #777;
}

header nav a:hover{
    transition: all 0,35s ease;
    color: #000000;
}

/* Footer */

#jsp {
    width: 1120px;
    margin: auto;
}

footer{

    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 36px;
    margin: 20px 0;
}

footer ul {
    padding: 0; 
    list-style: none; 
    display: flex;
    gap: 40px; 
}

footer a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #777;
}

footer nav a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

footer ul img {
    max-width: 20px;
}

#container-adresse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin:60px 60px 0;
    gap: 0 17px;
}

#adresse {
    text-align: left;
}

#container-copyright{
    margin: 0 0 0 207px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 333px;
}

/* Header */

main {
    max-width: 1120px;
    margin: auto;
}

main h1 {
    margin-top: 50px;
    margin-bottom: 23px;
}

main h3 {
    color: #252525;
    font-size: 32px;
    font-weight: 300;
}

main li {
    color: #777;
    font-weight: 300;
}

.center-item {
    text-align: center;
}

img {
    width: 100%;
    margin: auto;
}

#container-img_text {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    width: 124%;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

main div h2 {
    font-size: 84px;
}

main div p {
    font-size: 20px;
}

.margin-bottom_15px {
    margin-bottom: 15px;
}

.margin-bottom_100px {
 margin-bottom: 100px;
}

#container-h2_ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hr {
    display: block;
    width: 150px;
    margin: 50px auto 100px auto;
}